<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/3.3"
        id        = "me.coolplay.apps.python-docs-2.7"
        versionCode="10" 
        version   = "0.1">

    <name>Python Docs 2.7</name>

    <description>
        Python 2.7.11 documentation
    </description>
    <icon src="icon.png" />
    <author href="http://coolplay.github.io" email="lww5879@gmail.com">
        Wei-Wei Luo
    </author>
    <preference name="permissions" value="none"/>
</widget>
